@import 'core/reset';
@import 'core/variables';


.blur-bg {
    background-image: url("../images/rick-and-morty.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    height: 100vh;        
}

@media all and (min-width: 1280px) {
    .main__characters{
    display: flex;
}}

